body {
  padding: 25px;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 200;
}
body {
  background-color: #000000;
}

a {
  color: #FFFFFF;
}

.padding{
  padding: 25px;
}

.center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
