extends layout




block content
    div(align="right")
        h1= "Joe Carrigan"
        p Undergraduate Student at Carleton University in Ottawa, ON


    div.A(align="left")

        h2= "New Div"