extends layout
block content

  div(align="center")
    img(src= "http://www.napaunited.org/imgs/Autumn_Leaves_Decoration_PNG_Clipart%20copy.png")
    h1= "Welcome! Bienvenue! 欢迎!"
    p Please Choose A Language.
    p
      a(href='/HomeEnglish')     English
      a(href='http://www.google.ca')     Français
      a(href='http://www.google.ca')     中文


