extends layout

block content
      div(align="center")

          div.Image
            img(src="http://www.brandsgifts.ae/wp-content/uploads/2015/12/banner_home.jpg")
            br

          h1= "Welcome! Bienvenue! 欢迎!"
          p Please Choose A Language.
          p
            a(href='/HomeEnglish')     English
            ="       "
            a(href='http://www.google.ca')     Français
            ="       "
            a(href='http://www.google.ca')     中文



